In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.offline as plotoff
import plotly.graph_objects as plotgo
import seaborn as sns
from matplotlib.font_manager import FontManager,FontProperties

d:\programs\python\python36\lib\importlib\_bootstrap.py:219: RuntimeWarning:

numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [8]:
import tensorflow as tf

In [2]:
myfont = FontProperties(fname="../../../../../simhei.ttf")

In [3]:
myfont

In [4]:
df_train = pd.read_csv("../datasets/fashion-mnist_train.csv")

In [5]:
df_test = pd.read_csv("../datasets/fashion-mnist_test.csv")

In [6]:
df_train.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,0,0,0,0,0,0,0,5,0,...,0,0,0,30,43,0,0,0,0,0
3,0,0,0,0,1,2,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
df_test.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0,0,0,0,0,0,0,0,9,8,...,103,87,56,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,34,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,14,53,99,...,0,0,0,0,63,53,31,0,0,0
3,2,0,0,0,0,0,0,0,0,0,...,137,126,140,0,133,224,222,56,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
model = tf.keras.Sequential()
model.add(tf.keras.layers.Dense(32,activation="relu"))
model.add(tf.keras.layers.Dense(32,activation="relu"))
model.add(tf.keras.layers.Dense(10,activation="softmax"))

#### 选择合适的损失 和评估函数

In [14]:
model.compile(
    optimizer=tf.keras.optimizers.Adam(0.001),
    loss = tf.keras.losses.SparseCategoricalCrossentropy(),
    metrics=[tf.keras.metrics.SparseCategoricalAccuracy()]
)

In [16]:
df_train.shape

(60000, 785)

In [17]:
model.build(input_shape=(60000,784))

In [18]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (60000, 32)               25120
_________________________________________________________________
dense_1 (Dense)              (60000, 32)               1056
_________________________________________________________________
dense_2 (Dense)              (60000, 10)               330
=================================================================
Total params: 26,506
Trainable params: 26,506
Non-trainable params: 0
_________________________________________________________________

In [19]:
df_train_input = df_train.drop(columns=["label"])

In [20]:
df_train_input.head()

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,5,0,0,...,0,0,0,30,43,0,0,0,0,0
3,0,0,0,1,2,0,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
df_train_label = df_train["label"]

In [22]:
model.fit(df_train_input,df_train_label,epochs=5,batch_size=64,validation_split=0.25)

Epoch 1/5
704/704 [==============================] - 3s 2ms/step - loss: 2.9592 - sparse_categorical_accuracy: 0.6346 - val_loss: 0.9248 - val_sparse_categorical_accuracy: 0.6974
Epoch 2/5
704/704 [==============================] - 1s 2ms/step - loss: 0.7909 - sparse_categorical_accuracy: 0.7277 - val_loss: 0.7576 - val_sparse_categorical_accuracy: 0.7361
Epoch 3/5
704/704 [==============================] - 1s 2ms/step - loss: 0.6770 - sparse_categorical_accuracy: 0.7615 - val_loss: 0.6481 - val_sparse_categorical_accuracy: 0.7842
Epoch 4/5
704/704 [==============================] - 1s 2ms/step - loss: 0.6282 - sparse_categorical_accuracy: 0.7795 - val_loss: 0.6312 - val_sparse_categorical_accuracy: 0.7919
Epoch 5/5
704/704 [==============================] - 1s 2ms/step - loss: 0.6024 - sparse_categorical_accuracy: 0.7937 - val_loss: 0.8871 - val_sparse_categorical_accuracy: 0.7309

In [28]:
model = tf.keras.Sequential()
model.add(tf.keras.layers.Dense(32,activation="relu"))
model.add(tf.keras.layers.Dense(32,activation="relu"))
model.add(tf.keras.layers.Dense(10,activation="softmax"))
model.compile(
    optimizer=tf.keras.optimizers.Adam(0.001),
    loss = tf.keras.losses.SparseCategoricalCrossentropy(),
    metrics=[tf.keras.metrics.SparseCategoricalAccuracy()]
)
model.fit(df_train_input,df_train_label,epochs=5,batch_size=32,validation_split=0.25)

Epoch 1/5
1407/1407 [==============================] - 3s 2ms/step - loss: 1.8172 - sparse_categorical_accuracy: 0.6018 - val_loss: 0.8709 - val_sparse_categorical_accuracy: 0.6774
Epoch 2/5
1407/1407 [==============================] - 3s 2ms/step - loss: 0.7740 - sparse_categorical_accuracy: 0.7118 - val_loss: 0.7854 - val_sparse_categorical_accuracy: 0.7145
Epoch 3/5
1407/1407 [==============================] - 3s 2ms/step - loss: 0.7071 - sparse_categorical_accuracy: 0.7478 - val_loss: 0.7721 - val_sparse_categorical_accuracy: 0.7002
Epoch 4/5
1407/1407 [==============================] - 3s 2ms/step - loss: 0.7022 - sparse_categorical_accuracy: 0.7529 - val_loss: 0.8650 - val_sparse_categorical_accuracy: 0.7455
Epoch 5/5
1407/1407 [==============================] - 3s 2ms/step - loss: 0.6833 - sparse_categorical_accuracy: 0.7556 - val_loss: 0.6870 - val_sparse_categorical_accuracy: 0.7559