In [1]:
import torch

In [6]:
torch.__version__

'1.9.0'

In [7]:
import numpy as np

In [19]:
import matplotlib.pyplot as plt

In [20]:
import plotly.graph_objects as pltobj
import plotly.offline as pltoff

In [8]:
import pandas as pd

In [11]:
data = pd.read_csv("./dataset/consumer.csv")

In [12]:
data

       Month  UserNum
0    1949-01      112
1    1949-02      118
2    1949-03      132
3    1949-04      129
4    1949-05      121
..       ...      ...
139  1960-08      606
140  1960-09      508
141  1960-10      461
142  1960-11      390
143  1960-12      432

[144 rows x 2 columns]

In [17]:
seq_number = np.array(data["UserNum"].tolist(),dtype=np.float32)

In [18]:
seq_number

array([112., 118., 132., 129., 121., 135., 148., 148., 136., 119., 104.,
       118., 115., 126., 141., 135., 125., 149., 170., 170., 158., 133.,
       114., 140., 145., 150., 178., 163., 172., 178., 199., 199., 184.,
       162., 146., 166., 171., 180., 193., 181., 183., 218., 230., 242.,
       209., 191., 172., 194., 196., 196., 236., 235., 229., 243., 264.,
       272., 237., 211., 180., 201., 204., 188., 235., 227., 234., 264.,
       302., 293., 259., 229., 203., 229., 242., 233., 267., 269., 270.,
       315., 364., 347., 312., 274., 237., 278., 284., 277., 317., 313.,
       318., 374., 413., 405., 355., 306., 271., 306., 315., 301., 356.,
       348., 355., 422., 465., 467., 404., 347., 305., 336., 340., 318.,
       362., 348., 363., 435., 491., 505., 404., 359., 310., 337., 360.,
       342., 406., 396., 420., 472., 548., 559., 463., 407., 362., 405.,
       417., 391., 419., 461., 472., 535., 622., 606., 508., 461., 390.,
       432.], dtype=float32)

In [23]:
pyplot = pltoff.iplot

In [29]:
pltobj.Scatter(x=data["Month"],y=data["UserNum"])

ValueError: The first argument to the plotly.graph_objs.Scatter
constructor must be a dict or
an instance of :class:`plotly.graph_objs.Scatter`